@import 'vars';

body {
    background-color: $bg-color;
    font-family: monospace;
    font-size: 0.85em;
    color: $text-color;

    a {
        color: $link-color;
    }
}

h4 {
    margin-bottom: 0.5em;

    & + p {
        margin-top: 0;
    }
}